/* Спецификация */

body, html {
    color: #0F0F0F;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    height: 100%;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.button {
    display: inline-block;
    color: #7952b3;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #7952b3;
    border-radius: 10px;
    padding: 4px;
}

.button {
    display: inline-block;
    background-color: #7952b3;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    /* border: 2px solid #00B2FF; */
    border: none;
    border-radius: 12px;
    padding: 6px;
}

.button a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: 0.1s;
}

.button a:hover {
    color: #fff;
    font-weight: 600;
}

.button-regular {
    display: inline-block;
    background: inherit;
    color: #7952b3;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #7952b3;
    border-radius: 12px;
    padding: 6px;
}

.button-regular a, a.button-regular {
    color: #7952b3;
    font-size: 16px;
    font-weight: 600;
    transition: 0.1s;
}

.button-regular a:hover, a.button-regular:hover {
    color: #7952b3;
    font-weight: 600;
}

.form-container, .content-block {
    padding: 30px;
    background-color: #fff;
    /* border: 2px solid #0F0F0F; */
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.06) 0 10px 50px,rgba(0,0,0,0.04) 0 3px 20px;
}

.forms-container__title {
    font-weight: 600;
}

.form-conteiner__item {
    margin-bottom: 15px;
}

.form__errors {
    color: red;
    margin-bottom: 10px;
}

.content-block__label {
    font-weight: 500;
}

.come-back {
    color: #0F0F0F;
    font-weight: 600;
}

.come-back:hover {
    color: #7952b3;
}

/* Хедер */

.navbar {
    display: block;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.06) 0 10px 50px,rgba(0,0,0,0.04) 0 3px 20px;
}

a.navbar__logo {
    color: #0F0F0F;
    font-size: 20px;
    font-weight: 600;
}

a.navbar__item {
    color: #0F0F0F;
    font-size: 16px;
    font-weight: 400;
    display: block;
}

.navbar__user {
    font-weight: 500;
}

.navbar__solutions {
    display: inline;
}

/* Контент */

.content {
    flex: 1 1 auto;
}

/* Футер */

.footer {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #0b1e2e;
}

.info {
    color: #f0f0f0;
}

/* Адаптив */

@media screen and (min-width: 1200px) {
    .navbar__nav {
        margin-left: 30px;
    }

    .navbar__item {
        margin-right: 18px;
    }
}

@media screen and (max-width: 1199px) {
    .navbar__item {
        margin-bottom: 10px;
    }

    .navbar__nav {
        margin-top: 20px;
    }
    
    .navbar__item_auth {
        margin-top: 20px;
    }
}