.scan {
    padding: 60px 0;
    background-color: #F2F5F7;
}

.forms-container__title_scan {
    margin-bottom: 30px;
}

.scan__image {
    width: 100%;
}

.scan__info, .scan__final {
    margin-top: 30px;
}

.form__button_final {
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form-conteiner__item_final {
    margin-bottom: 20px;
}