/* Альбомы */

.scans {
    padding: 60px 0;
}

.scan {
    color: #0F0F0F;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    transition: 0.3s;
    border: 2px solid transparent;
}

.scan:hover {
    color: #7952b3;
    border: 2px solid #7952b3;
}

.scan__cover {
    display: block;
    border: none;
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.scan__name {
    font-weight: 500;
}

.scan__info {
    padding: 30px;
}

a.user-scans__create {
    display: block;
}

.user-scans__creating {
    margin-bottom: 50px;
}

.user-scans__link {
    display: block;
}


@media screen and (max-width: 992px) {
    .scan {
        margin-left: 0;
        margin-right: 0;
    }

    .user-scans__create {
        margin-top: 20px;
    }
}