{% extends 'scans/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'scans/css/scan_detail.css' %}">
{% endblock %}

{% block content %}
<section class="scan content">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 content-block">
                <a href="#" onclick="history.back(); return false;">Назад</a> 
                <h3 class="text-center forms-container__title forms-container__title_scan">МРТ снимок #{{ scan.pk }}</h3>

                <img class="scan__image" src="{{ scan.predicted_image.url }}" alt="...">
                
                <div class="scan__info">
                    <p><b>Пациент:</b> {{ scan.by_user.lastname }} {{ scan.by_user.firstname }} {{ scan.by_user.surname }}</p>
                    <br>
                    
                    {% if scan.tumor_diagnosed %}
                    <p><b>Опухоль диагностирована:</b> да</p>

                    {% else %}
                    <p><b>Опухоль диагностирована:</b> нет</p>

                    {% endif %}

                    {% if scan.tumor_predicted %}
                    <p><b>Опухоль выявлена ИИ:</b> да</p>

                    {% else %}
                    <p><b>Опухоль выявлена ИИ:</b> нет</p>

                    {% endif %}

                    <p><b>Стадия опухоли по мнению врача:</b> {{ scan.tumor_stage_doctor.name }}</p>
                    <p><b>Категория опухоли по мнению врача:</b> {{ scan.tumor_category_doctor.name }}</p>
                    <p><b>Стадия опухоли по мнению ИИ:</b> {{ scan.tumor_stage_ai.name }}</p>
                    <p><b>Категория опухоли по мнению ИИ:</b> {{ scan.tumor_category_ai.name }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}